<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
<form action="" method="post">
    {%csrf_token%}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    {{error}}
    {% endfor %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
    <br><br>
    {% for field in form %}
    {{field.label_tag}} {{field}} {{field.errors| striptags}}  <br><br>
    {% endfor %}
    <input type="submit" value="Login">

</form>
<br>

<button type="button"><a href="/signup">Signup</a></button>
<button type="button"><a href="/changepwd">Change Password</a></button>

</body>
</html>