<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>academics</title>
</head>
<body>

<h1>Student's Marks</h1>

    <table border="1">

	<th>Maths</th>
	<th>Physics</th>
	<th>Chemistry</th>
	<th>Biology</th>
	<th>English</th>

        <tr>
            <th>{{ object.Maths }}</th>
	    <td>{{ object.Physics }}</td>
	    <td>{{ object.Chemistry }}</td>
	    <td>{{ object.Biology}}</td>
	    <td>{{ object.English }}</td>
        </tr>
    </table>

<br><br>
<button type="button"><a href="/logout">logout</a></button>
</body>
</html>